<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.testscenarios.ClcikbyanylocatorVsdriver_findelement" />
			<class name="com.testscenarios.TS_04_GuestUser" />
			<class name="com.testscenarios.TS03_Addresses" />
			<!-- <class name="com.testscenarios.Srini_TS_04_GuestUSer"></class> -->

</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
